@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Special+Gothic&display=swap');
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.question {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 1;
    color: white;
    border: 1px lawngreen solid;
    border-radius: 5px;
    padding: 4px;
    backdrop-filter: blur(15px);
}

.questionC {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 1;
    color: white;
    border: 1px lawngreen solid;
    border-radius: 5px;
    padding: 4px;
    backdrop-filter: blur(15px);
}
input {
    border: 2px solid black;
    border-radius: 4px;
    background-color: slategray;
}
button {
    border: 2px solid black;
    border-radius: 5px;
    background-color: slategray;
}
.distanceNAV{
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 1;
    color: white;
    border: 1px lawngreen solid;
    border-radius: 10px;
    padding: 4px;
    backdrop-filter: blur(15px);
}
    .counterNAV{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        opacity: 1;
        color: white;
        border: 1px lawngreen solid;
        border-radius: 10px;
        padding: 4px;
        backdrop-filter: blur(15px);
    }
.errorNAV{
    position: absolute;
    bottom: 80px;
    margin:50px auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    opacity: 1;
    color: black;
    border: 1px red solid;
    border-radius: 10px;
    padding: 4px;
    background-color:slategray;
}
.errorNAV {
    opacity: 1;
    transition: opacity 0.8s ease;
}

.errorNAV.hide {
    opacity: 0;
}
.errorNAV.show {
    opacity: 1;
}
#globeViz {
    z-index: -1;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}


#globe-container {
    display: none;
}


.victory-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
    font-size: 24px;
    flex-direction: column;
    text-align: center;
    z-index: 9999;
    backdrop-filter: blur(15px);
}

#navBar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    opacity: 1;
    width: 100%;
    background-color: gray;
    height: 50px;
}


#navBar button.transp {
    background-color: black;
    opacity: 1;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

#navBar :hover {

    opacity: 0.3;

}


#navBar button.transp:hover {
    opacity: 0.9;
}





@media (max-width: 768px) {
    #navBar {
        display: none;
    }
}

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.pencil {
    display: block;
    width: 10em;
    height: 10em;
}

.pencil__body1,
.pencil__body2,
.pencil__body3,
.pencil__eraser,
.pencil__eraser-skew,
.pencil__point,
.pencil__rotate,
.pencil__stroke {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.pencil__body1,
.pencil__body2,
.pencil__body3 {
    transform: rotate(-90deg);
}

.pencil__body1 {
    animation-name: pencilBody1;
}

.pencil__body2 {
    animation-name: pencilBody2;
}

.pencil__body3 {
    animation-name: pencilBody3;
}

.pencil__eraser {
    animation-name: pencilEraser;
    transform: rotate(-90deg) translate(49px, 0);
}

.pencil__eraser-skew {
    animation-name: pencilEraserSkew;
    animation-timing-function: ease-in-out;
}

.pencil__point {
    animation-name: pencilPoint;
    transform: rotate(-90deg) translate(49px, -30px);
}

.pencil__rotate {
    animation-name: pencilRotate;
}

.pencil__stroke {
    animation-name: pencilStroke;
    transform: translate(100px, 100px) rotate(-113deg);
}

/* Animations */
@keyframes pencilBody1 {

    from,
    to {
        stroke-dashoffset: 351.86;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 150.8;
        /* 3/8 of diameter */
        transform: rotate(-225deg);
    }
}

@keyframes pencilBody2 {

    from,
    to {
        stroke-dashoffset: 406.84;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 174.36;
        transform: rotate(-225deg);
    }
}

@keyframes pencilBody3 {

    from,
    to {
        stroke-dashoffset: 296.88;
        transform: rotate(-90deg);
    }

    50% {
        stroke-dashoffset: 127.23;
        transform: rotate(-225deg);
    }
}

@keyframes pencilEraser {

    from,
    to {
        transform: rotate(-45deg) translate(49px, 0);
    }

    50% {
        transform: rotate(0deg) translate(49px, 0);
    }
}

@keyframes pencilEraserSkew {

    from,
    32.5%,
    67.5%,
    to {
        transform: skewX(0);
    }

    35%,
    65% {
        transform: skewX(-4deg);
    }

    37.5%,
    62.5% {
        transform: skewX(8deg);
    }

    40%,
    45%,
    50%,
    55%,
    60% {
        transform: skewX(-15deg);
    }

    42.5%,
    47.5%,
    52.5%,
    57.5% {
        transform: skewX(15deg);
    }
}

@keyframes pencilPoint {

    from,
    to {
        transform: rotate(-90deg) translate(49px, -30px);
    }

    50% {
        transform: rotate(-225deg) translate(49px, -30px);
    }
}

@keyframes pencilRotate {
    from {
        transform: translate(100px, 100px) rotate(0);
    }

    to {
        transform: translate(100px, 100px) rotate(720deg);
    }
}

@keyframes pencilStroke {
    from {
        stroke-dashoffset: 439.82;
        transform: translate(100px, 100px) rotate(-113deg);
    }

    50% {
        stroke-dashoffset: 164.93;
        transform: translate(100px, 100px) rotate(-113deg);
    }

    75%,
    to {
        stroke-dashoffset: 439.82;
        transform: translate(100px, 100px) rotate(112deg);
    }
}

.spinner {
    --hue: 223;
    --bg: black;
    --fg: hsl(var(--hue), 90%, 10%);
    --trans-dur: 0.3s;
    font-size: calc(20px + (30 - 20) * (100vw - 320px) / (1280 - 320));
    background-color: black;
    background: var(--bg);
    color: var(--fg);
    font: 1em/1.5 sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

a,
i {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
}

i {
    font-size: 30px;
    transition: opacity 0.3s ease-in-out;
}

i:hover {
    opacity: 0.5;
    cursor: pointer;
}
.float-tooltip-kap{
    border: 1px limegreen solid !important;
    backdrop-filter: blur(4px) !important;
    position: absolute !important;
    width: max-content !important;
    max-width: max(50%, 150px) !important;
    padding: 3px 5px !important;
    border-radius: 3px !important;
    font: 12px sans-serif !important;
    color: #eee !important;
    background: rgba(0, 0, 0, 0.6) !important;
    pointer-events: none !important;
}
.float-tooltip-kap > i{
    font-size: 18px !important;
}

.mainmenu {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    list-style: none;
    position: absolute;
    left: 20px;
    bottom: 4px;
    z-index: 9999;
}
.li {
    margin-bottom: 0px;
}
.button {
    background-color: transparent;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
    position: relative;
    padding-left: 11px;
    text-align: center;
    transition: 0.1s;
    z-index: 1;
}

.p {
    z-index: 2;
    position: relative;
}

.button:hover {
    color: rgb(52, 255, 0);
    text-align: center;
}
.button:hover::before {
    transform: rotate(0deg);
    width: 100%;
    height: 40px;
    top: 2px;
    border-radius: 3px;
    background-color: rgb(43, 130, 4);
}
.button::before {
    content: "";
    border-radius: 1px;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #107702;
    left: -10px;
    top: 19px;
    cursor: pointer;
    transform: rotate(225deg);
    transition: 0.3s;
    z-index: -1;
}

.button:active::before {
    background-color: rgb(80, 255, 0);
}
.settingspopup {
    position: absolute;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 45%;
    height: 45%;
    color: #000000;
    border: 1px lawngreen solid;
    border-radius: 5px;
    padding: 4px;
    backdrop-filter: blur(45px);
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#settings {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
